<h1> Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**


*   List popular languages for Data Science
*   List common Open Source development environments for Data Science
*   Demonstrate capabilities of Jupyter notebook (combining markdown & code cells)
*   Demonstrate Python syntax for simple arithmetic operations

Some of the popular languages that Data Scientists use are:

1.   Python
2.   R
3.   Scala
4.   Julia

Some of the commonly used libraries for Data Science include:


1.   matplotlib
2.   seaborn
3.   numpy
4.   tensorflow
5.   pytorch
6.   scikit-learn
7.   pandas
8.   ggplot
9.   dplyr

|Data Science Tools|
|---|
|Jupyter Lab|
|Jupyter Notebooks|
|RStudio|
|Spyder|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [ ]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author</h2>
Emily Carroll